<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
    <div class="col-8 offset-2">
        <body> 
            <br><br>
            <h2>Create New Listing</h2>
            <form method="post" action="/listings" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" placeholder="Enter Title" type="text" class="form-control" required >
                    <div class="valid-feedback">Title looks good!</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" type="text" rows="5" cols="25" class="form-control" required></textarea>
                    <div class="invalid-feedback">enter description.</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image-Link</label>
                    <input name="listing[image.url]" placeholder="Enter url/Paste Link" type="text" class="form-control">
                </div>
                <div class="row">

                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input name="listing[price]" placeholder="Enter Price"  class="form-control" required>
                        <div class="invalid-feedback">enter valid price.</div>
                    </div>

                    <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input name="listing[country]" placeholder="Enter Country" type="text" class="form-control" required>
                    <div class="invalid-feedback">Country name should be valid.</div>

                </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]" placeholder="Enter Location" type="text" class="form-control" required>
                    <div class="invalid-feedback">Location should be valid.</div>
                </div>
                <button class="btn btn-dark add-btn mt-3">Add</button>
                <br><br>
            </form>
        </body>
    </div>
</div>
